*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 100vh;
}
.pagina{
    width: 390px;
    border-radius: 10px;
    background: #fff;
    padding: 4px;
    position: relative;
}
.pagina .sup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagina .sup .userinform{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.pagina .sup .userinform .userimg{
    width: 35px;
    height: 35px;
    margin-left: 5px;
    margin-right: 8px;
    overflow: hidden;
    position: relative;
}
.cover{
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}
.pagina .sup .userinform h3{
    font-size: 16px;
    color: black;
    font-weight: 400;
    line-height: 1em;
}
.foto{
    position: relative;
    width: 100%;
    height: 340px;
    margin: 5px 0 15px;
}
.botones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 8px;
}
.botones img{
    max-width: 25px;
    margin-right: 7px;
}
.likes{
    color: black;
    padding: 8px;
}
.captions{
    font-weight: 400;
    color: black;
    line-height: 1.5em;
    padding: 8px;
}